.footer {
  background-color: $color-dark;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text {
  color: #FFF;
  font-family: Open Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.telephone {}

.social {}

.social-item {}