.portfolio {}

.portfolio-inner {}

.conteiner {}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {}

.catalog-card {
  position: relative;
  display: block;
}

.desc {}

.btn-another {}